<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Engineer-mitra</title>
    <link rel="icon" href="../../../static/images/Pbl-logo.jpg">
    <link rel="stylesheet" href="../../../static/bootstrap-5.0.0-dist/css/bootstrap.min.css">
    <script src="../../../static/bootstrap-5.0.0-dist/js/bootstrap.bundle.js"></script>
    <script src="https://kit.fontawesome.com/dd768487f5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../../../static/style2.css">
</head>
<body>
    <div class="background">
        <div class="bg">
            <nav class="navbar navbar-expand-lg fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="../../../index.html"><img src="../../../static/images/Pbl-logo1.jpg" alt=""> Engineer-mitra</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars " aria-hidden="true"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Theory
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="math.html">18MAT41-M4</a></li>
                                    <li><a class="dropdown-item" href="ac.html">18EC42-A.C</a></li>
                                    <li><a class="dropdown-item" href="cs.html">18EC43-C.S</a></li>
                                    <li><a class="dropdown-item" href="esla.html">18EC44-ESLA</a></li>
                                    <li><a class="dropdown-item" href="ss.html">18EC45-SS</a></li>
                                    <li><a class="dropdown-item" href="mc.html">18EC46-M.C</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Laboratary
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="mcl.html">18ECL47-M.C Lab</a></li>
                                    <li><a class="dropdown-item" href="acl.html">18ECL48-A.C Lab</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Links
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#mod1">Module-1</a></li>
                                    <li><a class="dropdown-item" href="#mod2">Module-2</a></li>
                                    <li><a class="dropdown-item" href="#mod3">Module-3</a></li>
                                    <li><a class="dropdown-item" href="#mod4">Module-4</a></li>
                                    <li><a class="dropdown-item" href="#mod5">Module-5</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='#carousels'>Resources</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../../../index.html#Contact-us">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <section id="table">
                <h2 class="table-head" id="mod1">18EC43 - Module 1</h1>
                <div class="table">
                    <table>
                        <thead class="tbl-header">
                            <tr id="head">
                                <th>Sl.no</th>
                                <th>Topic</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody class="tbl-content">
                            <tr id="content">
                                <td>1</td>
                                <td>Introduction - open/closed loop systems, mechanical systems</td>
                                <td><a href="https://drive.google.com/file/d/1Kh4ohbK2EQpp0hRbdJOAAmIve-LWApoU/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>2</td>
                                <td>Mechanical systems - translational/rotational (contd.), obtaining equations for mechanical systems</td>
                                <td><a href="https://drive.google.com/file/d/1dXuBEaCamHawFVxYVQlLBGPhcoj2ECBd/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>3</td>
                                <td>Obtaining equations for mechanical systems (contd), derivation</td>
                                <td><a href="https://drive.google.com/file/d/1k72VcZBTULC50V4QxEbx2O1kN1HDfJ6e/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td>Numericals(1)</td>
                                <td><a href="https://drive.google.com/file/d/1Jscg-wAl4XUCa3CQrEcXEkF6Ng_UrAtw/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>5</td>
                                <td>Numericals(2)</td>
                                <td><a href="https://drive.google.com/file/d/1lLzSCglMBA_yYl2drRvo8AlIWB0-H5T-/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>6</td>
                                <td>Numericals(3)</td>
                                <td><a href="https://drive.google.com/file/d/10ObDQbU2PanrHLy8pP9hOIO8scHfYO8g/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>7</td>
                                <td>Analog Systems</td>
                                <td><a href="https://drive.google.com/file/d/1COrI8rjGviHUtJaJWlWBU9CFODgjCGnY/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>8</td>
                                <td>Numericals on analogous systems (F-V)</td>
                                <td><a href="https://drive.google.com/file/d/1OEjdrV8kmcXiLxM6qtiZjjv7GNzMuKg7/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>9</td>
                                <td>Numericals (F-I)</td>
                                <td><a href="https://drive.google.com/file/d/1fGtkQuD8S2EbjW-cbOaDCDLpbWqHnw7c/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>10</td>
                                <td>Numericals (rotational systems)</td>
                                <td><a href="https://drive.google.com/file/d/1c-SSyB7WpwxgKtKeP97usAfclFLFOHAT/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>11</td>
                                <td>Numericals</td>
                                <td><a href="https://drive.google.com/file/d/1pe7as5JdtvQGvGeXdDSzwfY0LHLnN97d/view" target="_blank">Click here</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section id="table">
                <h2 class="table-head" id="mod2">18EC43 - Module 2</h1>
                <div>
                    <table>
                        <thead class="tbl-header">
                            <tr id="head">
                                <th>Sl.no</th>
                                <th>Topic</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody class="tbl-content">
                            <tr id="content">
                                <td>1</td>
                                <td>Introduction - block diagram, rules to be followed</td>
                                <td><a href="https://drive.google.com/file/d/1G_6o9Aj_8YruKd-2DwBONySr-8Mrqe6Q/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>2</td>
                                <td>Rules to be followed (contd), numericals</td>
                                <td><a href="https://drive.google.com/file/d/1vd6SBWPsNRXNWd4knORs7CKlamA0V3jo/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>3</td>
                                <td>Numericals(1)</td>
                                <td><a href="https://drive.google.com/file/d/1D0kQLTC5e1O-qrIiZS4Zey0OzPYUpW93/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td>Numericals(2)</td>
                                <td><a href="https://drive.google.com/file/d/1raiapJWg9C0A8xM7Yltl7Agl3E7IqpLY/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>5</td>
                                <td>Numericals(contd)</td>
                                <td><a href="https://drive.google.com/file/d/1DjPxoQ5LQMWjOxcL8_-PIClkRknnSRxA/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>6</td>
                                <td>Introduction - signal flow graph, Mason's Gain formula</td>
                                <td><a href="https://drive.google.com/file/d/1xuvEnxREx1uiYzUqXO6B-gm76U-ymazt/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>7</td>
                                <td>Nuemricals</td>
                                <td><a href="https://drive.google.com/file/d/14MyHVIIEFkkMC0ymnNnV1O6XxZKxpIhr/view" target="_blank">Click here</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section id="table">
                <h2 class="table-head" id="mod3">18EC43 - Module 3</h1>
                <div>
                    <table>
                        <thead class="tbl-header">
                            <tr id="head">
                                <th>Sl.no</th>
                                <th>Topic</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody class="tbl-content">
                            <tr id="content">
                                <td>1</td>
                                <td>introduction, important formulae, time-response for 1st order</td>
                                <td><a href="https://drive.google.com/file/d/1TRwQ0dHCq1bgMhf2hQdZiiDzkWFFFt9A/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>2</td>
                                <td>Time-response for 2nd order, derivation of underdamped system</td>
                                <td><a href="https://drive.google.com/file/d/156qTzD5huphmliZKFFok7vNadDUmG7WB/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>3</td>
                                <td>Derivations (contd)</td>
                                <td><a href="https://drive.google.com/file/d/17pqaoMsNW284btPD3o48Uxf8Yzfnc533/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td>Time-response specifications</td>
                                <td><a href="https://drive.google.com/file/d/1yr3XmAFzFVg8Wy3bWffxM7gZmAAbXl9T/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>5</td>
                                <td>Time-response specifications (contd), derivations</td>
                                <td><a href="https://drive.google.com/file/d/1N4mHu3Iys-Dcm9mtV7lMvZ7n46GZwlWH/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>6</td>
                                <td>Steady state errors</td>
                                <td><a href="https://drive.google.com/file/d/1dLiy02Tq8eEdKvPsrgm-mN-kK3UEH24G/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>7</td>
                                <td>Steady state errors (contd)</td>
                                <td><a href="https://drive.google.com/file/d/1Ww_VMWvMQI8EKsztApAHYrR7qUrN2LVZ/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>8</td>
                                <td>Numericals</td>
                                <td><a href="https://drive.google.com/file/d/15l-fJgpGghuGz-X9lhMLYBCwesV0O3v4/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>9</td>
                                <td>Error constants (dynamic)</td>
                                <td><a href="https://drive.google.com/file/d/1VJvGKELF_nW43MZMXuB2UkS9biWVIngX/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>10</td>
                                <td>Nuemricals</td>
                                <td><a href="https://drive.google.com/file/d/1HDpTmMiByytDy5pqusCqSN1bTxPLknJI/view" target="_blank">Click here</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section id="table">
                <h2 class="table-head" id="mod4">18EC43 - Module 4</h1>
                <div>
                    <table>
                        <thead class="tbl-header">
                            <tr id="head">
                                <th>Sl.no</th>
                                <th>Topic</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody class="tbl-content">
                            <tr id="content">
                                <td>1</td>
                                <td>Introduction</td>
                                <td><a href="https://drive.google.com/file/d/1rWtXefiu9b5IkpJvI9x6xUvqP3YOg9jN/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>2</td>
                                <td>Introduction (2)</td>
                                <td><a href="https://drive.google.com/file/d/14rbI5jJKeK-BQ5yLsa1pNR4AoSIxm8-j/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>3</td>
                                <td>Different cases of systems</td>
                                <td><a href="https://drive.google.com/file/d/1-7W68Yge-ZmXayJUOqlxS5gmwnrn_yhv/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td>Numericals</td>
                                <td><a href="https://drive.google.com/file/d/1H0M-TbuywTHY4_9tNa4kFNOIIy_g51AT/view" target="_blank">Click here</a></td>
                            </tr>
                            <!-- <tr id="content">
                                <td>5</td>
                                <td></td>
                                <td><a href="" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>6</td>
                                <td></td>
                                <td><a href="" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td></td>
                                <td><a href="#" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td></td>
                                <td><a href="#" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td></td>
                                <td><a href="#" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td></td>
                                <td><a href="#" target="_blank">Click here</a></td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </section>
            <!-- <section id="table">
                <h2 class="table-head" id="mod5">18EC43 - Module 5</h1>
                <div>
                    <table>
                        <thead class="tbl-header">
                            <tr id="head">
                                <th>Sl.no</th>
                                <th>Topic</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody class="tbl-content">
                            <tr id="content">
                                <td>1</td>
                                <td></td>
                                <td><a href="" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>2</td>
                                <td></td>
                                <td><a href="" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>3</td>
                                <td></td>
                                <td><a href="" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td></td>
                                <td><a href="" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>5</td>
                                <td></td>
                                <td><a href="" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>6</td>
                                <td></td>
                                <td><a href="" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td></td>
                                <td><a href="#" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td></td>
                                <td><a href="#" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td></td>
                                <td><a href="#" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td></td>
                                <td><a href="#" target="_blank">Click here</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section> -->
            <div class="carousels" id="carousels">
                <div class="carousel1">
                    <h2 id="notes">18EC43-Notes</h2>
                    <div class="carousel" data-flickity='{ "groupCells": true }'>
                        <div class="carousel-cell">
                            <div class="module-head">Module-1</div>
                            </br>
                            <div><a href="#" target="_blank">Click-here</a></div>
                        </div>
                        <div class="carousel-cell">
                            <div class="module-head">Module-2</div>
                            </br>
                            <div><a href="#" target="_blank">Click-here</a></div>
                        </div>
                        <div class="carousel-cell">
                            <div class="module-head">Module-3</div>
                            </br>
                            <div><a href="#" target="_blank">Click-here</a></div>
                        </div>
                        <div class="carousel-cell">
                            <div class="module-head">Module-4</div>
                            </br>
                            <div><a href="#" target="_blank">Click-here</a></div>
                        </div>
                        <div class="carousel-cell">
                            <div class="module-head">Module-5</div>
                            </br>
                            <div><a href="#" target="_blank">Click-here</a></div>
                        </div>
                    </div>
                </div>
                <div class="carousel2">
                    <h2 id="notes">18EC43-Practice quiz</h2>
                    <div class="carousel" data-flickity='{ "groupCells": true }'>
                        <div class="carousel-cell">
                            <div class="module-head">Quiz-1</div>
                            </br>
                            <div><a href="#" target="_blank">Click-here</a></div>
                        </div>
                        <div class="carousel-cell">
                            <div class="module-head">Quiz-2</div>
                            </br>
                            <div><a href="#" target="_blank">Click-here</a></div>
                        </div>
                        <div class="carousel-cell"></div>
                        <div class="carousel-cell"></div>
                        <div class="carousel-cell"></div>
                        <div class="carousel-cell"></div>
                        <div class="carousel-cell"></div>
                        <div class="carousel-cell"></div>
                        <div class="carousel-cell"></div>
                        <div class="carousel-cell"></div>
                        <div class="carousel-cell"></div>
                    </div>
                </div>
            </div>
            <div class="qp">
                <div class="mp">
                    <h2 id="notes">18EC43-Model question papers</h2>
                    <div class="mpsec">
                        <div class="module-head">Model qp 1</div>
                            </br>
                            <div><a href="https://drive.google.com/file/d/1wEvkAdvT6KgtnfNIRF0A3THXyotwuI-P/view?usp=sharing" target="_blank">Click-here</a></div>
                    </div>
                    <div class="mpsec">
                        <div class="module-head">Model qp 2</div>
                            </br>
                            <div><a href="https://drive.google.com/file/d/1Y5EJp-7-swq5clz_DVSNisGDMZUhsoBm/view?usp=sharing" target="_blank">Click-here</a></div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>