<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Engineer-mitra</title>
    <link rel="icon" href="../../../static/images/Pbl-logo.jpg">
    <link rel="stylesheet" href="../../../static/bootstrap-5.0.0-dist/css/bootstrap.min.css">
    <script src="../../../static/bootstrap-5.0.0-dist/js/bootstrap.bundle.js"></script>
    <script src="https://kit.fontawesome.com/dd768487f5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../../../static/style2.css">
</head>
<body>
    <div class="background">
        <div class="bg">
            <nav class="navbar navbar-expand-lg fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="../../../index.html"><img src="../../../static/images/Pbl-logo1.jpg" alt=""> Engineer-mitra</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars " aria-hidden="true"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Theory
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="math.html">18MAT41-M4</a></li>
                                    <li><a class="dropdown-item" href="ac.html">18EC42-A.C</a></li>
                                    <li><a class="dropdown-item" href="cs.html">18EC43-C.S</a></li>
                                    <li><a class="dropdown-item" href="esla.html">18EC44-ESLA</a></li>
                                    <li><a class="dropdown-item" href="ss.html">18EC45-SS</a></li>
                                    <li><a class="dropdown-item" href="mc.html">18EC46-M.C</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Laboratary
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="mcl.html">18ECL47-M.C Lab</a></li>
                                    <li><a class="dropdown-item" href="acl.html">18ECL48-A.C Lab</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Links
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#mod1">Module-1</a></li>
                                    <li><a class="dropdown-item" href="#mod2">Module-2</a></li>
                                    <li><a class="dropdown-item" href="#mod3">Module-3</a></li>
                                    <li><a class="dropdown-item" href="#mod4">Module-4</a></li>
                                    <li><a class="dropdown-item" href="#mod5">Module-5</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='#carousels'>Resources</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../../../index.html#Contact-us">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <section id="table">
                <h2 class="table-head" id="mod1">18MAT41 - Module 1</h1>
                <div class="table">
                    <table>
                        <thead class="tbl-header">
                            <tr id="head">
                                <th>Sl.no</th>
                                <th>Topic</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody class="tbl-content">
                            <tr id="content">
                                <td>1</td>
                                <td>Cauchy Rieman Equation in cartesian form </td>
                                <td><a href="https://drive.google.com/file/d/1RcWwPQBwmfhnmuajmw2TGjnlvWRD3X0u/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>2</td>
                                <td>Cauchy Rieman Equation in polar form </td>
                                <td><a href="https://drive.google.com/file/d/1LrGyRFN6ADgU751Xrtd-cGZlThCSF2LG/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>3</td>
                                <td> Harmonic property,construction of analytic functions </td>
                                <td><a href="https://drive.google.com/file/d/1wKnUp0xaVlXTWbiYbyVbrtqON3abjGAs/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td>Problems on construction of analytic functions</td>
                                <td><a href="https://drive.google.com/file/d/1RrWZ-vPV16k-ZQEWvn2CRecRGYwadrFg/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>5</td>
                                <td>Problems on Construction of analytic functions and harmonic property</td>
                                <td><a href="https://drive.google.com/file/d/1XKOcx-0JeDZ2yzJjYLNA_DMogjz1AOA_/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>6</td>
                                <td>Numericals on analytic function</td>
                                <td><a href="https://drive.google.com/file/d/1mrzR49OYyd-O0Bqtc57DgDE-OnYBwUpl/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>7</td>
                                <td>Standard derivations on analytic functions</td>
                                <td><a href="https://drive.google.com/file/d/1CsJnWl_4spIDdsohXB7wuvgT6N0rGHA4/view" target="_blank">Click here</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section id="table">
                <h2 class="table-head" id="mod2">18MAT41 - Module 2</h1>
                <div>
                    <table>
                        <thead class="tbl-header">
                            <tr id="head">
                                <th>Sl.no</th>
                                <th>Topic</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody class="tbl-content">
                            <tr id="content">
                                <td>1</td>
                                <td>Introduction to complex transformation</td>
                                <td><a href="https://drive.google.com/file/d/1-qJCKJmetMDF9bcmdk7vp-sKi1NlY4xD/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>2</td>
                                <td>Problems on standard transformation</td>
                                <td><a href="https://drive.google.com/file/d/18pzkwApS0B-p99UIsZckeyuvoEeQJJpw/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>3</td>
                                <td>Bilinear transformation introduction</td>
                                <td><a href="https://drive.google.com/file/d/1EdvxfqUyoa68TF-Ipn2GslB95oVBkg3Z/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td>Problems on bilinear transformation(1)</td>
                                <td><a href="https://drive.google.com/file/d/1mk76MZBOX_pkyqX7oiTgqj0mY3fKw9s9/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>5</td>
                                <td>Problems on bilinear transformation(2)</td>
                                <td><a href="https://drive.google.com/file/d/1z4Tn71QgZVXTIN9uLHfprrXVFow6xDoZ/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>6</td>
                                <td>Introduction and problems on linear integral of complex function</td>
                                <td><a href="https://drive.google.com/file/d/1QHcxswnYkN9BMVSjLK4SVJjYAwotj9K0/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>7</td>
                                <td>Problems on linear integral of complex function, Cauchy's Theorm</td>
                                <td><a href="https://drive.google.com/file/d/1ve6F4SYYCAYVnsA7gU3dpPTEcSyoEgdu/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>8</td>
                                <td>Sub theorm using cauchy's theorm</td>
                                <td><a href="https://drive.google.com/file/d/1Vs3LQN7bYNjliYYsurTFoGXLi-26Ca2v/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>9</td>
                                <td>Cauchy Integral Formula and problems</td>
                                <td><a href="https://drive.google.com/file/d/1ElFeYzGZHzB_gsOsg9H7j-VFI_rd5GFt/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>10</td>
                                <td>Problems on verification of cauchy theorm</td>
                                <td><a href="https://drive.google.com/file/d/10eSk2-QtkH5MnUlzTEeLMj_-dk-fIcG5/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>11</td>
                                <td>Problems on cauchy's theorm</td>
                                <td><a href="https://drive.google.com/file/d/1_2vqOFa9GPKmH_84Y_KkRc7Es43BSCb0/view" target="_blank">Click here</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section id="table">
                <h2 class="table-head" id="mod3">18MAT41 - Module 3</h1>
                <div>
                    <table>
                        <thead class="tbl-header">
                            <tr id="head">
                                <th>Sl.no</th>
                                <th>Topic</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody class="tbl-content">
                            <tr id="content">
                                <td>1</td>
                                <td>Introduction to probability distribution</td>
                                <td><a href="https://drive.google.com/file/d/1MtPKjqqmYh-E4yinsTSynGiOrdodWiIk/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>2</td>
                                <td>Probelms on finding mean, variance and standard deviation(1) </td>
                                <td><a href="https://drive.google.com/file/d/16wW_tCK_Dnyz-VOTzQmkWG5onq1uce_B/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>3</td>
                                <td>Probelms on finding mean, variance and standard deviation(2)</td>
                                <td><a href="https://drive.google.com/file/d/1RdX2xmbYEQKdPIZ3ad7WKHc8ORJulDbn/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td>Binomial distribution / Bernouli's trials</td>
                                <td><a href="https://drive.google.com/file/d/1j7FBcsl2JnRhk0xW9tyKxTLtiRALdDC9/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>5</td>
                                <td>Problems on Binomial distribution(1)</td>
                                <td><a href="https://drive.google.com/file/d/187X5eXIuOP2MxYjFUUPo01R0F8rXRmFr/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>6</td>
                                <td>Problems on Binomial distribution(2)</td>
                                <td><a href="https://drive.google.com/file/d/1OdY9aILTkfrCjMX1TwQSUtaKeBXXRNnu/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>7</td>
                                <td>Poisson's distribution</td>
                                <td><a href="https://drive.google.com/file/d/1RlRm3bzTt-tP2s2WSE6n941-T-6yyugx/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>8</td>
                                <td>Problems on Poisson's distribution</td>
                                <td><a href="https://drive.google.com/file/d/1yGR25J2v5WK_4HxFBmmyYRp2fB9btwoA/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>9</td>
                                <td>Problems on continuous probability distribution</td>
                                <td><a href="https://drive.google.com/file/d/1SEtEiQLRnQEcsabFnawkhnnAbDHo-eI-/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>10</td>
                                <td>Problems on exponential distribution</td>
                                <td><a href="https://drive.google.com/file/d/1LHRaSOx8ZGBQwhh5TSdzPoq9GovQXEeb/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>11</td>
                                <td>Normal probability distribution</td>
                                <td><a href="https://drive.google.com/file/d/1fMxiuP8JYi0zkWHzj8TFs3iimV_QtbhY/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>12</td>
                                <td>Problems on normal probability distribution</td>
                                <td><a href="https://drive.google.com/file/d/1IxYWK3JXGdPCLvhnrsIaCcaE8xRIlDw3/view" target="_blank">Click here</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section id="table">
                <h2 class="table-head" id="mod4">18MAT41 - Module 4</h1>
                <div>
                    <table>
                        <thead class="tbl-header">
                            <tr id="head">
                                <th>Sl.no</th>
                                <th>Topic</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody class="tbl-content">
                            <tr id="content">
                                <td>1</td>
                                <td>Introduction to Statistical methods and problems on correlation and regression</td>
                                <td><a href="https://drive.google.com/file/d/12Ss61QqPHmaccOvL4lXCH1ygPva3rEVl/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>2</td>
                                <td>Problems on correlation and regression and, rank correlation</td>
                                <td><a href="https://drive.google.com/file/d/1Z4F_t5CsIrhwYX0Osu-GKcAdgZqj23SU/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>3</td>
                                <td>introduction and problems on curve fitting(1)</td>
                                <td><a href="https://drive.google.com/file/d/1i4mj3XT6dh3mn-nRGO0oGKFoq2rvBnB8/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td>Problems on curve fitting(2)</td>
                                <td><a href="https://drive.google.com/file/d/1dFRZqwMzwDSbVZJ4I1B2jwXmIfV3Ujpk/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>5</td>
                                <td>Problems on curve fitting(3)</td>
                                <td><a href="https://drive.google.com/file/d/1hZV7jP5dmBmKxh9yhWzXEQ9Ixaw02eb2/view" target="_blank">Click here</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section id="table">
                <h2 class="table-head" id="mod5">18MAT41 - Module 5</h1>
                <div>
                    <table>
                        <thead class="tbl-header">
                            <tr id="head">
                                <th>Sl.no</th>
                                <th>Topic</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody class="tbl-content">
                            <tr id="content">
                                <td>1</td>
                                <td>Introduction and problems on joint probability distribution(1)</td>
                                <td><a href="https://drive.google.com/file/d/1VWd2V4AUBaDhN6PG_K2lRNFPII5zKDy2/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>2</td>
                                <td>Problems on joint probability distribution(2)</td>
                                <td><a href="https://drive.google.com/file/d/1gh8Yjet-lCz7JtRzXrw-mNUFS6d6VvOW/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>3</td>
                                <td>Introduction to sampling distribution and problems on it</td>
                                <td><a href="https://drive.google.com/file/d/1oczRVm02gCvJAxgv_3foSHT1EHZ-7tnA/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td>Problems on sampling distribution</td>
                                <td><a href="https://drive.google.com/file/d/1vBYRQTvi3Onu6cV5rajEd5XMx-BsMQ3G/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>5</td>
                                <td>Problems on students t distribution(1)</td>
                                <td><a href="https://drive.google.com/file/d/1-3lwjLtBcw6Wm4r2tPusfGGkJwUtHgBr/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>6</td>
                                <td>Problems on students t distribution(2), introduction on test of hypothesis</td>
                                <td><a href="https://drive.google.com/file/d/1s30ZBmk9dsBVNyb1kAZPm2bu6e5C6o_x/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>7</td>
                                <td>Problems on test of hypothesis(1)</td>
                                <td><a href="https://drive.google.com/file/d/1PE8BPCKVtNIHl1DruUa8-Oyh4QByX2ch/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>8</td>
                                <td>Problems on test of hypothesis(9)</td>
                                <td><a href="https://drive.google.com/file/d/1bYB9CcweWBu7BkYlmbFXCGEIl79Yyt6-/view" target="_blank">Click here</a></td>
                            </tr>
                            <!-- <tr id="content">
                                <td>4</td>
                                <td>cd</td>
                                <td><a href="#" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td>cd</td>
                                <td><a href="#" target="_blank">Click here</a></td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </section>
            <div class="carousels" id="carousels">
                <div class="carousel1">
                    <h2 id="notes">18MAT41-Notes</h2>
                    <div class="carousel" data-flickity='{ "groupCells": true }'>
                        <div class="carousel-cell">
                            <div class="module-head">Module-1</div>
                            </br>
                            <div><a href="https://drive.google.com/file/d/1ywvI90Qm4UaEwEIM0Q3_EI-JgSHxb-Q9/view?usp=sharing" target="_blank">Click-here</a></div>
                        </div>
                        <div class="carousel-cell">
                            <div class="module-head">Module-2</div>
                            </br>
                            <div><a href="#" target="_blank">Click-here</a></div>
                        </div>
                        <div class="carousel-cell">
                            <div class="module-head">Module-3</div>
                            </br>
                            <div><a href="https://drive.google.com/file/d/1vQ0-mVftA15qing-xSSPMl9VfOQvdGAJ/view?usp=sharing" target="_blank">Click-here</a></div>
                        </div>
                        <div class="carousel-cell">
                            <div class="module-head">Module-4</div>
                            </br>
                            <div><a href="#" target="_blank">Click-here</a></div>
                        </div>
                        <div class="carousel-cell">
                            <div class="module-head">Module-5</div>
                            </br>
                            <div><a href="#" target="_blank">Click-here</a></div>
                        </div>
                    </div>
                </div>
                <div class="carousel2">
                    <h2 id="notes">18MAT41-Practice quiz</h2>
                    <div class="carousel" data-flickity='{ "groupCells": true }'>
                        <div class="carousel-cell">
                            <div class="module-head">Quiz-1</div>
                            </br>
                            <div><a href="https://docs.google.com/forms/d/e/1FAIpQLSdmeXPg2F0ZtX92UYFTH7NhTDBPCzYsAQmaHoD08iRAXih0Ug/viewform?usp=sf_link" target="_blank">Click-here</a></div>
                        </div>
                        <div class="carousel-cell">
                            <div class="module-head">Quiz-2</div>
                            </br>
                            <div><a href="https://drive.google.com/file/d/1ywvI90Qm4UaEwEIM0Q3_EI-JgSHxb-Q9/view?usp=sharing" target="_blank">Click-here</a></div>
                        </div>
                        <div class="carousel-cell"></div>
                        <div class="carousel-cell"></div>
                        <div class="carousel-cell"></div>
                        <div class="carousel-cell"></div>
                        <div class="carousel-cell"></div>
                        <div class="carousel-cell"></div>
                        <div class="carousel-cell"></div>
                        <div class="carousel-cell"></div>
                        <div class="carousel-cell"></div>
                    </div>
                </div>
            </div>
            <div class="qp">
                <div class="mp">
                    <h2 id="notes">18MAT41-Model question papers</h2>
                    <div class="mpsec">
                        <div class="module-head">Model qp 1</div>
                            </br>
                            <div><a href="https://drive.google.com/file/d/1KR68mPgdqPUwaQh2MSzV773RrGq9MV2x/view?usp=sharing" target="_blank">Click-here</a></div>
                    </div>
                    <div class="mpsec">
                        <div class="module-head">Model qp 2</div>
                            </br>
                            <div><a href="https://drive.google.com/file/d/1AzhquzdvPtTA3DDd4awR3W9HSzefax0j/view?usp=sharing" target="_blank">Click-here</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>