<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Engineer-mitra</title>
    <link rel="icon" href="../../../static/images/Pbl-logo.jpg">
    <link rel="stylesheet" href="../../../static/bootstrap-5.0.0-dist/css/bootstrap.min.css">
    <script src="../../../static/bootstrap-5.0.0-dist/js/bootstrap.bundle.js"></script>
    <script src="https://kit.fontawesome.com/dd768487f5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../../../static/style2.css">
</head>
<body>
    <div class="background">
        <div class="bg">
            <nav class="navbar navbar-expand-lg fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="../../../index.html"><img src="../../../static/images/Pbl-logo1.jpg" alt=""> Engineer-mitra</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars " aria-hidden="true"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Theory
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="math.html">18MAT41-M4</a></li>
                                    <li><a class="dropdown-item" href="pge.html">18EE42-PGE</a></li>
                                    <li><a class="dropdown-item" href="t&d.html">18EE43-T&D</a></li>
                                    <li><a class="dropdown-item" href="em.html">18EE44-EM</a></li>
                                    <li><a class="dropdown-item" href="ft.html">18EE45-FT</a></li>
                                    <li><a class="dropdown-item" href="lic.html">18EE46-LIC</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Laboratary
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="eml.html">18EEL47-EM Lab</a></li>
                                    <li><a class="dropdown-item" href="licl.html">18EEL48-LIC Lab</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Links
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#mod1">Module-1</a></li>
                                    <li><a class="dropdown-item" href="#mod2">Module-2</a></li>
                                    <li><a class="dropdown-item" href="#mod3">Module-3</a></li>
                                    <li><a class="dropdown-item" href="#mod4">Module-4</a></li>
                                    <li><a class="dropdown-item" href="#mod5">Module-5</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='#carousels'>Resources</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../../../index.html#Contact-us">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <section id="table">
                <h2 class="table-head" id="mod1">18MAT41 - Module 1</h1>
                <div class="table">
                    <table>
                        <thead class="tbl-header">
                            <tr id="head">
                                <th>Sl.no</th>
                                <th>Topic</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody class="tbl-content">
                            <tr id="content">
                                <td>1</td>
                                <td>Cauchy Rieman Equation in cartesian form </td>
                                <td><a href="https://drive.google.com/file/d/1RcWwPQBwmfhnmuajmw2TGjnlvWRD3X0u/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>2</td>
                                <td>Cauchy Rieman Equation in polar form </td>
                                <td><a href="https://drive.google.com/file/d/1LrGyRFN6ADgU751Xrtd-cGZlThCSF2LG/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>3</td>
                                <td> Harmonic property,construction of analytic functions </td>
                                <td><a href="https://drive.google.com/file/d/1wKnUp0xaVlXTWbiYbyVbrtqON3abjGAs/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td>Problems on construction of analytic functions</td>
                                <td><a href="https://drive.google.com/file/d/1RrWZ-vPV16k-ZQEWvn2CRecRGYwadrFg/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>5</td>
                                <td>Problems on Construction of analytic functions and harmonic property</td>
                                <td><a href="https://drive.google.com/file/d/1XKOcx-0JeDZ2yzJjYLNA_DMogjz1AOA_/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>6</td>
                                <td>Numericals on analytic function</td>
                                <td><a href="https://drive.google.com/file/d/1mrzR49OYyd-O0Bqtc57DgDE-OnYBwUpl/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>7</td>
                                <td>Standard derivations on analytic functions</td>
                                <td><a href="https://drive.google.com/file/d/1CsJnWl_4spIDdsohXB7wuvgT6N0rGHA4/view" target="_blank">Click here</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section id="table">
                <h2 class="table-head" id="mod2">18MAT41 - Module 2</h1>
                <div>
                    <table>
                        <thead class="tbl-header">
                            <tr id="head">
                                <th>Sl.no</th>
                                <th>Topic</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody class="tbl-content">
                            <tr id="content">
                                <td>1</td>
                                <td>Cauchy Rieman Equation in Cartesian form </td>
                                <td><a href="https://drive.google.com/file/d/1RcWwPQBwmfhnmuajmw2TGjnlvWRD3X0u/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>2</td>
                                <td>Cauchy Rieman Equation in Polar form </td>
                                <td><a href="https://drive.google.com/file/d/1LrGyRFN6ADgU751Xrtd-cGZlThCSF2LG/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>3</td>
                                <td> Harmonic property,Construction of analytic functions </td>
                                <td><a href="https://drive.google.com/file/d/1wKnUp0xaVlXTWbiYbyVbrtqON3abjGAs/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td>Problems on Construction of analytic functions</td>
                                <td><a href="https://drive.google.com/file/d/1RrWZ-vPV16k-ZQEWvn2CRecRGYwadrFg/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>5</td>
                                <td>Problems on Construction of analytic functions and harmonic property</td>
                                <td><a href="https://drive.google.com/file/d/1XKOcx-0JeDZ2yzJjYLNA_DMogjz1AOA_/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>6</td>
                                <td>Numericals on Analytic function</td>
                                <td><a href="https://drive.google.com/file/d/1mrzR49OYyd-O0Bqtc57DgDE-OnYBwUpl/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td>cd</td>
                                <td><a href="#" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td>cd</td>
                                <td><a href="#" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td>cd</td>
                                <td><a href="#" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td>cd</td>
                                <td><a href="#" target="_blank">Click here</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section id="table">
                <h2 class="table-head" id="mod3">18MAT41 - Module 3</h1>
                <div>
                    <table>
                        <thead class="tbl-header">
                            <tr id="head">
                                <th>Sl.no</th>
                                <th>Topic</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody class="tbl-content">
                            <tr id="content">
                                <td>1</td>
                                <td>Introduction to probability distribution</td>
                                <td><a href="https://drive.google.com/file/d/1MtPKjqqmYh-E4yinsTSynGiOrdodWiIk/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>2</td>
                                <td>Probelms on finding mean, variance and standard deviation(1) </td>
                                <td><a href="https://drive.google.com/file/d/16wW_tCK_Dnyz-VOTzQmkWG5onq1uce_B/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>3</td>
                                <td>Probelms on finding mean, variance and standard deviation(2)</td>
                                <td><a href="https://drive.google.com/file/d/1RdX2xmbYEQKdPIZ3ad7WKHc8ORJulDbn/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td>Binomial distribution / Bernouli's trials</td>
                                <td><a href="https://drive.google.com/file/d/1j7FBcsl2JnRhk0xW9tyKxTLtiRALdDC9/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>5</td>
                                <td>Problems on Binomial distribution(1)</td>
                                <td><a href="https://drive.google.com/file/d/187X5eXIuOP2MxYjFUUPo01R0F8rXRmFr/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>6</td>
                                <td>Problems on Binomial distribution(2)</td>
                                <td><a href="https://drive.google.com/file/d/1OdY9aILTkfrCjMX1TwQSUtaKeBXXRNnu/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>7</td>
                                <td>Poisson's distribution</td>
                                <td><a href="https://drive.google.com/file/d/1RlRm3bzTt-tP2s2WSE6n941-T-6yyugx/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>8</td>
                                <td>Problems on Poisson's distribution</td>
                                <td><a href="https://drive.google.com/file/d/1yGR25J2v5WK_4HxFBmmyYRp2fB9btwoA/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>9</td>
                                <td>Problems on continuous probability distribution</td>
                                <td><a href="https://drive.google.com/file/d/1SEtEiQLRnQEcsabFnawkhnnAbDHo-eI-/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>10</td>
                                <td>Problems on exponential distribution</td>
                                <td><a href="https://drive.google.com/file/d/1LHRaSOx8ZGBQwhh5TSdzPoq9GovQXEeb/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>11</td>
                                <td>Normal probability distribution</td>
                                <td><a href="https://drive.google.com/file/d/1fMxiuP8JYi0zkWHzj8TFs3iimV_QtbhY/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>12</td>
                                <td>Problems on normal probability distribution</td>
                                <td><a href="https://drive.google.com/file/d/1IxYWK3JXGdPCLvhnrsIaCcaE8xRIlDw3/view" target="_blank">Click here</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section id="table">
                <h2 class="table-head" id="mod4">18MAT41 - Module 4</h1>
                <div>
                    <table>
                        <thead class="tbl-header">
                            <tr id="head">
                                <th>Sl.no</th>
                                <th>Topic</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody class="tbl-content">
                            <tr id="content">
                                <td>1</td>
                                <td>Cauchy Rieman Equation in Cartesian form </td>
                                <td><a href="https://drive.google.com/file/d/1RcWwPQBwmfhnmuajmw2TGjnlvWRD3X0u/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>2</td>
                                <td>Cauchy Rieman Equation in Polar form </td>
                                <td><a href="https://drive.google.com/file/d/1LrGyRFN6ADgU751Xrtd-cGZlThCSF2LG/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>3</td>
                                <td> Harmonic property,Construction of analytic functions </td>
                                <td><a href="https://drive.google.com/file/d/1wKnUp0xaVlXTWbiYbyVbrtqON3abjGAs/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td>Problems on Construction of analytic functions</td>
                                <td><a href="https://drive.google.com/file/d/1RrWZ-vPV16k-ZQEWvn2CRecRGYwadrFg/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>5</td>
                                <td>Problems on Construction of analytic functions and harmonic property</td>
                                <td><a href="https://drive.google.com/file/d/1XKOcx-0JeDZ2yzJjYLNA_DMogjz1AOA_/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>6</td>
                                <td>Numericals on Analytic function</td>
                                <td><a href="https://drive.google.com/file/d/1mrzR49OYyd-O0Bqtc57DgDE-OnYBwUpl/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td>cd</td>
                                <td><a href="#" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td>cd</td>
                                <td><a href="#" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td>cd</td>
                                <td><a href="#" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td>cd</td>
                                <td><a href="#" target="_blank">Click here</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section id="table">
                <h2 class="table-head" id="mod5">18MAT41 - Module 5</h1>
                <div>
                    <table>
                        <thead class="tbl-header">
                            <tr id="head">
                                <th>Sl.no</th>
                                <th>Topic</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody class="tbl-content">
                            <tr id="content">
                                <td>1</td>
                                <td>Cauchy Rieman Equation in Cartesian form </td>
                                <td><a href="https://drive.google.com/file/d/1RcWwPQBwmfhnmuajmw2TGjnlvWRD3X0u/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>2</td>
                                <td>Cauchy Rieman Equation in Polar form </td>
                                <td><a href="https://drive.google.com/file/d/1LrGyRFN6ADgU751Xrtd-cGZlThCSF2LG/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>3</td>
                                <td> Harmonic property,Construction of analytic functions </td>
                                <td><a href="https://drive.google.com/file/d/1wKnUp0xaVlXTWbiYbyVbrtqON3abjGAs/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td>Problems on Construction of analytic functions</td>
                                <td><a href="https://drive.google.com/file/d/1RrWZ-vPV16k-ZQEWvn2CRecRGYwadrFg/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>5</td>
                                <td>Problems on Construction of analytic functions and harmonic property</td>
                                <td><a href="https://drive.google.com/file/d/1XKOcx-0JeDZ2yzJjYLNA_DMogjz1AOA_/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>6</td>
                                <td>Numericals on Analytic function</td>
                                <td><a href="https://drive.google.com/file/d/1mrzR49OYyd-O0Bqtc57DgDE-OnYBwUpl/view" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td>cd</td>
                                <td><a href="#" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td>cd</td>
                                <td><a href="#" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td>cd</td>
                                <td><a href="#" target="_blank">Click here</a></td>
                            </tr>
                            <tr id="content">
                                <td>4</td>
                                <td>cd</td>
                                <td><a href="#" target="_blank">Click here</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <div class="carousels" id="carousels">
                <div class="carousel1">
                    <h2 id="notes">18MAT41-Notes</h2>
                    <div class="carousel" data-flickity='{ "groupCells": true }'>
                        <div class="carousel-cell">
                            <div class="module-head">Module-1</div>
                            </br>
                            <div><a href="https://drive.google.com/file/d/1ywvI90Qm4UaEwEIM0Q3_EI-JgSHxb-Q9/view?usp=sharing" target="_blank">Click-here</a></div>
                        </div>
                        <div class="carousel-cell">
                            <div class="module-head">Module-2</div>
                            </br>
                            <div><a href="#">Click-here</a></div>
                        </div>
                        <div class="carousel-cell">
                            <div class="module-head">Module-3</div>
                            </br>
                            <div><a href="#">Click-here</a></div>
                        </div>
                        <div class="carousel-cell">
                            <div class="module-head">Module-4</div>
                            </br>
                            <div><a href="#">Click-here</a></div>
                        </div>
                        <div class="carousel-cell">
                            <div class="module-head">Module-5</div>
                            </br>
                            <div><a href="#">Click-here</a></div>
                        </div>
                    </div>
                </div>
                <div class="carousel2">
                    <div class="carousel" data-flickity='{ "groupCells": true }'>
                        <div class="carousel-cell"></div>
                        <div class="carousel-cell"></div>
                        <div class="carousel-cell"></div>
                        <div class="carousel-cell"></div>
                        <div class="carousel-cell"></div>
                        <div class="carousel-cell"></div>
                        <div class="carousel-cell"></div>
                        <div class="carousel-cell"></div>
                        <div class="carousel-cell"></div>
                        <div class="carousel-cell"></div>
                        <div class="carousel-cell"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>